<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
  	<bean id="mysql.instrument" class="mySqlDao.InstrumentImpl"/>
  	<bean id="sqlite.instrument" class="sqliteDao.InstrumentImp"/>
  	<bean id="instrumentService" class="Service.InstrumentService">
  		<!-- ref引用对象（对象是由spring来创建的） -->
  		<property name="instrumentDao" ref="sqlite.instrument"></property>
  	</bean>
</beans>